/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.mainBgnColor{
	-fx-background-color: rgb(121,206,245)
}

.text-title{
	-fx-font-size: 64px;
}

.text-main{
	-fx-font-size: 20px;
}

.text-white {
  -fx-text-fill: #fff !important;
}

.text-primary {
  -fx-text-fill: #007bff !important;
}

.text-danger{
	-fx-text-fill: #dc3545;
}

.text-success{
	-fx-text-fill: #28a745;
}
.btn {
	-fx-font-weight: 400;
  -fx-text-alignment: center;
  -fx-cursor: default;
  -fx-border-color: transparent;
  -fx-border-width: 5px;
  -fx-border-style: solid;
  -fx-background-insets: 0, 0, -1, 0;
  -fx-font-size: 16px;
 }
 
 .btn:pressed, .btn.pressed {
 	-fx-effect: innershadow(gaussian, rgba(0, 123, 255, 0.25), 0, 0, 0, 5px);
}

.btn-success {
  -fx-text-fill: #fff;
  -fx-background-color: #28a745;
  -fx-border-color: #28a745;
}

.btn-success:hover {
  -fx-text-fill: #fff;
  -fx-background-color: #218838;
  -fx-border-color: #1e7e34;
}

.btn-danger {
  -fx-text-fill: #fff;
  -fx-background-color: #dc3545;
  -fx-border-color: #dc3545;
}


.bg-white {
  -fx-background-color: #fff !important;
}
